{% extends "base/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!-- =====================================================
     HERO SECTION
====================================================== -->

<div class="container py-5">

    <div class="text-center">

        <h1 class="display-4 fw-bold text-success">

            🌱 Crop Recommendation System

        </h1>

        <p class="lead mt-4">

            Intelligent crop recommendation using
            Machine Learning and Soil Analysis.

        </p>

        {% if user.is_authenticated %}

            <a
                href="{% url 'dashboard:home' %}"
                class="btn btn-success btn-lg mt-3">

                Go to Dashboard

            </a>

        {% else %}

            <a
                href="{% url 'accounts:register' %}"
                class="btn btn-success btn-lg mt-3">

                Get Started

            </a>

        {% endif %}

    </div>

</div>

{% endblock %}